*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.DS_Store?
ehthumbs.db
Thumbs.db
.gradle/
.idea/
build/
gradle/
bin/
gen/
*.iml
import-summary.txt
gradlew
gradlew.bat
local.properties